<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="donate">
    <head>
	    <meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the meas of technology">
        <meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
        <meta name="author" content="Yuvraj Jaiswal ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
	    <link rel="shortcut icon" href="../images/logo.png"/>
	    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
	    <link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      	rel="stylesheet">
        <title>DRISTI</title>
    </head>
    <body>
    	<header>
    		<div class="navbar-fixed">
    			<nav class="teal darken-2 z-depth-1">
	    		    <div class="container-fluid top-container">
	    		  		<ul class="right section hide-on-med-and-down">
	    		  			<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
	    		  			<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
	    		  			<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
						    <li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
						    <li class="active"><a href="#" class="active"><p class="navText active"><i class="material-icons">mood</i> DONATE</p></a></li>
				  		</ul>
				  		<ul class="left">
				  			<li class=""><img src="/images/logo.png" class="navImg"/>
				  			</li>
				  		</ul>
				  	</div>
					  <ul id="slide-out" class="side-nav">
					   	    <li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
	    		  			<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
	    		  			<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
						    <li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
						    <li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class="button-collapse">
					  	<p class="nav"><i class="mdi-navigation-menu"></i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<div class="container">
				<h2 class="center"> MAKE A DONATION </h2>
				<p class="flow-text donate-text">
					Donation is another form in which you can support us to carry on this noble endeavour. A little help from your side can help shape future of many. No amount is too much when it is being spent to improve the life of fellow human being and develop him/her so that he/she can  live upto the challenge called life. Your generous donations allow us to continue our work of empowering rural areas. Every rupee you donate goes towards ensuring equal opportunities for all. You have the power to change the lives of so many people for the better. The contributions you make will be used to support our various endeavours and efforts aimed at bringing about a change ranging from supporting projects benefitting the rural society, educating needy children etc.
				</p>
				<br>
				<div class="center">
					<a class="btn waves-effect waves-lighten teal darken-2" href="https://www.payumoney.com/paybypayumoney/#/61CE7ECABFAFEB2A8604B828E9775DE9">
					DONATE NOW
					</a>
				</div>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    	<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
    	<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>