<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="vision">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
	    <link rel="shortcut icon" href="../images/logo.png"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
		<script type="text/javascript">
		//<![CDATA[
		var owa_baseUrl = 'http://localhost:9999/owa/';
		var owa_cmds = owa_cmds || [];
		owa_cmds.push(['setSiteId', '0a0611b42c0de0ad85d9791f5fe3c9a6']);
		owa_cmds.push(['trackPageView']);
		owa_cmds.push(['trackClicks']);
		owa_cmds.push(['trackDomStream']);

		(function() {
		var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
		owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
		_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
		var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
		}());
		//]]>
		</script>
		<!-- End Open Web Analytics Code -->
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-1">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
							</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class="right button-collapse">
						<p class="nav"><i class="material-icons">view_headline</i></p></a>
				</nav>
			</div>
		</header>
		<main>
			
			<div class="row events-container">
				<h2 class="center">WHAT WE DO</h2>
				<div class="divider"></div>	
				<div class="row valign-wrapper">
					<div class="col s12 m8 l9">
						<h5 class="center">DRISTI LIBRARY</h5>
						<p class="flow-text events-text">
							A library was established in the village of Panchauli to help children with the joy of reading. Books were collected on campus by our student volunteers. The library presently contains a variety of books ranging from academia to novels and short story books. Lack of resources has always been the biggest hurdle that children from rural background face. The setting up of library is playing a prominent role in order to minimize this problem. The library has been setup in one of the house in the village, thus providing easy access to the village kids at a regular basis. It boasts of a collection of over 1000 books.
						</p>
					</div>
					<div class="col s12 m4 l3">
						<br>
						<img src="../images/events/library.jpg" class="responsive-img">
					</div>
				</div>
				
				

				<div class="divider"></div>


				<div class="row valign-wrapper">

					<div class="col s12 m4 l3">
						
					<BR> 
					<br>
						<img src="../images/events/fc.jpg" class="responsive-img"/>
					</div>
					<div class="col s12 m8 l9">
						<h5 class="center"> F.C. DRISTI</h5>
						<p class="flow-text events-text">
						This has been one of the most unique achievements of DRISTI so far. We have been able to organize two all-girls as well as boys football teams from the villages of Panchauli and Masu. DRISTI regularly organizes football matches between them on Independence Day and Republic Day and the first match ever was a national media phenomenon. People were astonished with the professional way in which these little girls played their first match ever and the sheer hard work and dedication of our student volunteer coaches was applauded and appreciated greatly. 
						</p> 
					</div>
				</div>
				<div class="divider"></div>
				<div class="row valign-wrapper">
					<div class="col s12 m8 l9">
						<h5 class="center">FESTIVALS CELEBRATION</h5>
						<p class="flow-text events-text">
							DRISTI organises various celebrations on occasions such as Holi, Diwali, Children’s Day, Independence Day, Republic Day and many more. Various competitions are also organised pertaining to add fun in the festivities. The DRISTI team has come up with creative events like face painting, kite flying, pot painting, diya decoration, collage making, singing, poem recitals, dancing events and many such activities. All these competitions are highly popular amongst children. For women, mehendi and rangoli making competitions have also been organized to much enthusiastic participation. These events have been very constructive towards induce a feeling of togetherness and healthy competition in the children. 
						</p>
					</div>
					<div class="col s12 m4 l3">
						
						<img src="../images/events/festival.jpg" class="responsive-img">
					</div>
				</div>

				<div class="divider"></div>


				<div class="row valign-wrapper">

					<div class="col s12 m4 l3">
					<br>
					<br>	
					<!-- <BR> -->
						<img src="../images/events/cac.jpg" class="responsive-img"/>
					</div>
					<div class="col s12 m8 l9">
						<h5 class="center"> CARRER COUNCELLING</h5>
						<p class="flow-text events-text">
						DRISTI is a proud member of the larger process in giving a proper counselling to free rural India from the unfortunate clutches of addiction. Unfortunately, many youth of rural India are found engulfed by drug addiction or on the verge of getting so, leaving them aimless and making them dependent. DRISTI organises regular career counselling sessions for such people in order to help them find a goal and meaning in life. The volunteers do appropriate research in finding different career opportunities for them and also satisfy their queries. For the younger minds, volunteers present them with various career options, motivating them to achieve a better future.
						</p> 
					</div>
				</div>
				<div class="divider"></div>
				<div class="row valign-wrapper">
					<div class="col s12 m8 l9">
						<h5 class="center">COMPUTER CLASSES</h5>
						<p class="flow-text events-text">
							On surveying the village, volunteers found out that the children had no exposure to technology. Ironically, the only exposure they had to this all-practical concept was through textbooks. They knew what a computer was but didn’t know the basics of operating it. Hence DRISTI shaped a tangible fulfilment to this need by organising computer classes in the computer lab of BIT Mesra. These classes were later shifted to the village due to low participation of students due to unfamiliar atmosphere, with volunteers happily carrying their own laptops to impart knowledge. Computer classes have also been organised in Kanke for students of government schools.
						</p>
					</div>
					<div class="col s12 m4 l3">
						<br>	
						<img src="../images/events/cc.jpg" class="responsive-img">
					</div>
				</div>
				<div class="divider"></div>
				<div class="row valign-wrapper">

					<div class="col s12 m4 l3">
					<br>
					<br>	
					<!-- <BR> -->
						<img src="../images/events/ns.jpg" class="responsive-img"/>
					</div>
					<div class="col s12 m8 l9">
						<h5 class="center"> NIGHT SESSIONS</h5>
						<p class="flow-text events-text">
						Visual media has always been a greater means to reach the masses than any other form. Night sessions are DRISTI's approach of using the fact to the benefit of society.In night sessions both fun movies and socially vigilant videos are shown. Movies like ‘Swades’ and documentaries and shows like Satyamev Jayate are shown via projector. These shows are well appreciated by the village folks. Various videos on harms of drug addiction, smoking, drinking importance of girl education; maintenance of sanitation are also shown. The response to these videos have been very positive and brought about important and desired changes in the mind-set of people.
						</p> 
					</div>
				</div>
				<div class="divider"></div>
				<div class="row valign-wrapper">
					<div class="col s12 m8 l9">
						<h5 class="center">TUITION CLASSES</h5>
						<p class="flow-text events-text">
							There exists a huge section of the society for whom it’s a distant dream. As we explored the villages, it was a quick realization that they needed motivation and additional resources for their upliftment. Since then DRISTI has organized regular tuition classes for children who cannot afford tutoring services. The tuition mostly aimed at the preparation for national level school exams like JNV, NETRAHAT etc. It’s a delight for the volunteers to share their knowledge with the children.Volunteers take turns and go to nearby village school where children gather. Tuition classes along with regular preparatory classes have been among the most impactful work that DRISTI does.
						</p>
					</div>
					<div class="col s12 m4 l3">
						<br>	
						<img src="../images/events/tc.jpg" class="responsive-img">
					</div>
				</div>

				<div class="divider"></div>	
				<div class="row valign-wrapper">

					<div class="col s12 m4 l3">
						
						<img src="../images/events/ds.jpg" class="responsive-img"/>
					</div>
					<div class="col s12 m8 l9">
						<h5 class="center"> EVENTS</h5>
						<p class="flow-text events-text">
						Along with the regular tuition classes, day sessions are also organised. These sessions are broadly based on unique and diverse themes like Importance of Cleanliness (“Swachhta”), Magic of Science, Say No to Addiction, and Women Empowerment etc. In these sessions, villagers are informed about various issues and facts by means of videos, street plays (nukkad nataks) and working models. Volunteers then interact with the children and adults to ensure that they’ve the message and is instilled in their daily lives.
						</p> 
					</div>
				</div>
				
				
				
				

				
				

			</div>
		</main>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>