<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="pillars">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
	    <link rel="shortcut icon" href="../images/logo.png"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134209950-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-134209950-1');
		</script>
		<!-- End Open Web Analytics Code -->
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-2">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
							</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class="button-collapse">
						<p class="nav"><i class="mdi-navigation-menu"></i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<div class="row ">
				<h2 class="center">PILLARS</h2>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../images/pillars/disha.jpg">
							<span class="card-title center black chap-title">DISHA</span>
						</div>
						<div class="card-content">
						<p class=" flow-text card-text">
							DISHA means direction. So all the activities we are guiding people towards a particular approach comes under DISHA.This includes carrier counselling session and government schemes. This includes inspirational talks making people enthusiastic and dedicated for upliftment of the underprivileged society and watching it come true.
						</p>
						</div>
						
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../images/pillars/diksha.jpg">
							<span class="card-title black chap-title center">DIKSHA</span>
						</div>
						<div class="card-content">
							<p class=" flow-text card-text">
								DIKSHA means to initiate a new learning, this includes tuition classes, spoken English classes etc. Where we don't need four walls and a blackboard, only willing minds. DIKSHA is making the children to lean forward to catch the wings of learning, and making them awake with a shine of imagination developing with each passing day.
							</p>
						</div>
						
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../images/pillars/daksha.jpg">
							<span class="card-title black chap-title center">DASKHA</span>
						</div>
						<div class="card-content">
							<p class=" flow-text card-text">
								DAKSHA means skilful or competent. Events like computer education and vocational trainings completes the word DAKSHA. We empathise on creating such personality which will help in creating a positive impact on the society under the guidance of some of the brightest mind we have.
							</p>
						</div>
						
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="card">
						<div class="card-image">
							<img src="../images/pillars/damini.jpg">
							<span class="card-title black chap-title center">DAMINI</span>
						</div>
						<div class="card-content">
							<p class=" flow-text card-text">
								DAMINI or Women Empowerment wing works on the task of upliftment of women in rural areas. Empowerment of women has taken an edge in the present era. This gender is excelling in every field and proving its metal in every arena that offers competition, whether it is social, political, and administrative or others.
							</p>
						</div>
						
					</div>
				</div>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>
