<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="vd">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-1">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
					 <img class="volunteer-pic responsive-img">		</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class="button-collapse">
						<p class="nav"><i class="mdi-navigation-menu"></i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<h3 class="center">VOLUNTEER DIARIES</h3>
			<h4 class="flow-text center">Everybody Has A Special Story</h4>
			<div class="row customContainer">
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/KAYENAT.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“If your idea is good, it will be implemented, no questions asked.”</p>
							<p class="right">- Kayenat Khan</p>
						</div>
						<div class="card-action">
								<a href="diaries/kayenat.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/sauravjha.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“A bouquet of feelings and emotions are attached with DRISTI.”</p>
							<p class="right">- Saurav Jha</p>
						</div>
						<div class="card-action">
								<a href="diaries/sauravjha.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/SNEHA.jpg"
 								class="volunteer-pic responsive-img">								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“We experience it, contribute to its betterment as well as gain from it.”</p>
							<p class="right">- Sneha Sinha</p>
						</div>
						<div class="card-action">
								<a href="diaries/sneha.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/chahat.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“I teach, and I learn in the process.”</p>
							<p class="right">- Chahat Singla</p>
						</div>
						<div class="card-action">
								<a href="diaries/chahat.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/saurav.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“There  is no limit to their curiosity.”</p>
							<p class="right">- Saurav Samdarshi</p>
						</div>
						<div class="card-action">
								<a href="diaries/saurav.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/uzma.jpg" class="volunteer-pic responsive-img">
	 							<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“DRISTI offered experience and contentment.”</p>
							<p class="right">- Uzma Alia</p>
						</div>
						<div class="card-action">
								<a href="diaries/uzma.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/chandan.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“The kids especially love watching the Tom and Jerry and their smiles remind me of my childhood.”</p>
							<p class="right">- Chandan Pandey</p>
						</div>
						<div class="card-action">
								<a href="diaries/chandan.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/prerna.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“My motive was to make just few faces smile, but DRISTI changed my life forever and made me a better person.”</p>
							<p class="right">- Prerna </p>
						</div>
						<div class="card-action">
								<a href="diaries/prerna.html">READ MORE</a>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card hoverable">
						<div class="card-image">
							<img src="../images/volunteers/shubhsngi.jpg" class="volunteer-pic responsive-img">
								<!-- <span class="card-title">Card Title</span> -->
						</div>
						<div class="card-content">
							<p>“I feel lucky to be a part of the DRISTI Family.It makes me both content and proud at the same time.”</p>
							<p class="right">- Shubhangi Mishra</p>
						</div>
						<div class="card-action">
								<a href="diaries/shubhangi.html">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>