<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="vision">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-1">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
							</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="#"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class="button-collapse">
						<p class="nav"><i class="mdi-navigation-menu"></i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<div class="row hide-on-small-only">
				<img src="../images/backgrounds/journey.jpg" class="responsive-img">
			</div>
			<div class="vision-class center">
				<h3 class="center">OUR VISION</h3>
				<p class="center flow-text just">
					Everybody dreams of a utopian society but unequal division of opportunities is the harsh reality of today’s world. Even at BIT Mesra, it is a sad plight that the residents of nearby villages hardly dream to send their children to such coveted institutes. At DRISTI, we try to bridge this gap between the fortunate and the not-so fortunate people. The real India is said to reside in its villages so we begin our work from there.
				</p>
				<div class="divider grey darken-1"></div>
				<div>
					<h3 class="center"> WHAT WE WANT</h3>
				</div>
				<div class="row">
					<div class="col s12 m6 l3">
						<div class="card-panel hoverable">
							<div class="center">
								<h5>EDUCATION <br>FOR ALL</h5>
							</div>
		          			<span class="just"><p class="flow-text vision-text">
		         				Every child in the village attends school and adult education gains acceptance as it is education that takes people towards the road leading to a better life. Poverty can never be entirely eliminated without education. 
		          			</p></span>
		        		</div>
	        		</div>
	        		<div class="col s12 m6 l3">
						<div class="card-panel hoverable">
							<div class="center">
								<h5>SOCIAL INTEGRATION</h5>
							</div>
		          			<span class="just"><p class="flow-text vision-text just">Many villages are cut off from the mainstream society which causes them to miss out on a vast number of opportunities. Their integration into mainstream society will open new doors of prosperity for both parties. 
		          			</p></span>
		        		</div>
	        		</div>
	        		<div class="col s12 m6 l3">
						<div class="card-panel hoverable">
							<div class="center">
								<h5>NO GENDER DIVISION</h5>
							</div>
		          			<span class="just"><p class="flow-text vision-text just">Both genders avail equal treatment in terms of education, care and opportunities. Women can be empowered only when the gender division that starts from homes is curbed. We want to create a society with equal opportunities.
		          			</p></span>
		        		</div>
	        		</div>
	        		<div class="col s12 m6 l3">
						<div class="card-panel hoverable">
							<div class="center">
								<h5>TECHNOLOGICAL EMPOWERMENT</h5>
							</div>
		          			<span class="just"><p class="flow-text vision-text just"> Technology is the tool using which villages can advance in the rapidly changing world. It helps them become self-sufficient.Long term prosperity can only be achieved through self reliance that stems from technology.
		          			</p></span>
		        		</div>
	        		</div>
        		</div>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>