
header .navText{
	font-size: 15px;
	margin: 0px;
	padding: 0px;
	margin-top : -15px;
}

body {
	/*background-color: #efefef;*/
}

header .header-trans {
	background-color : rgba(100, 100, 100, 0.7);
}

header .white-nav{
	background-color: #ffc107;
	/*opacity: 0.7;	*/
}
header .navImg{
	margin-top: -10px;
	width: 120px !important;
	height: 70px !important;
	margin-left: 20px; 
	font-weight: bold;	
}

header nav h3{
	margin: 10px;
}

nav i{
	margin-top : -20px;
}
nav li a:hover{
	background: white;
	color:black;
}

nav {
	padding-right: 0px;
	padding-left: 5px;
}

.active{
	background-color: white !important;
	color:black !important;
}
header .customNav{
	height: 65px;
}
.material-icons{
	margin-top: 0px !important;
	vertical-align: middle;
}
header .side-nav{
	margin-top : 60px;
	z-index : 0;
	padding-bottom: 60px;
}
header .side-nav.fixed a{
	color:white;
}
header .side-nav.fixed a:hover{
	color:black;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}	

.slider.fullscreen{
	position: static;
      width : auto;
      height: 100vh;
      background: transparent;
}
.slider .slides{
	background-color: transparent !important;
}
.slider .slides .slider-image {
	height: 100%;
}
.slider .slides li {
	top : 0;
}
.slider .anim {
	left :  4% !important;
	right: 8% !important;
	width : 100% !important;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	top : 30% !important;
	
}
.slider .animated-text {
	margin: 10px;
	font-size : 28px;
	font-family:  Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 150%;
	font-stretch: 150%;
	padding-right: 5px;

}
#home,
#about{
	margin-bottom: 0px;
}
#about,
#join,
#contact {
	padding-top: 30px;
}

#about.about-icons {
	margin : 0px;
	padding: 0px;
}

#about .custom-logo {
	height: auto;
	width: 150px;
	margin: 0px;
	padding: 0px;
}
.center {
	text-align: center;
	vertical-align: middle;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-left: auto !important;
	padding-right: auto !important;
}
#about .image-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

#about .about-text{
	font-size: 24px;
	font-family: sans-serif;
}

#join .joinUsBox {
	width : 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#join .joinUsText {
	text-align: justify;
	font-size: 22px;
}

@media only screen and (max-width: 650px) {
	#join .joinUsBox {
		width : 80vw;
		margin-left: auto;
		margin-right: auto;
		padding: 5px;
	}
	#about .about-container {
		margin-right: 0px;
		margin-left: 0px;
	}

	#about .about-icons {
		width : 80vw;
	}
} 

footer {
	bottom: 0px;
}




#donate .donate-text{
	text-align: justify;
}

img#loader {
    display: none;
}

#pillars .card-text {
	text-align: justify;
	font-size: 22px;
}

#pillars .card-content {
	height: 450px;
}

#chapters .card-text {
	text-align: justify;
	font-size: 22px;
	padding: 10px;
}

.just {
	text-align: justify;
}


#vd .customContainer {
	width: 90%;
}

#vision .vision-class {
	width: 90%
}

#vision .vision-text {
	text-align: justify;
	font-size: 18px;
}

@media only screen and (min-width: 800px){
	.diary {
		width : 100vw;
		margin-top: -100px;
	}
}
.team-image {
	padding: 40px !important;
}

.chap-title {
	width:100%;
	opacity:0.7;
	padding: 5px;
}

.news {
	height : 300px;
	width : 100%
}

.events-container {
	width: 95%
}

.events-text {
	font-size : 22px;
}