<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="vision">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-1">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="../donate.html"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
							</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="../donate.html"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class= "right button-collapse">
						<p class="nav"><i class="material-icons">view_headline</i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<div class="">
				<img src="../../images/volunteers/chahat.jpg" class=" diary responsive-img"/>
			</div>
			<h3 class="center">CHAHAT SINGLA</h3>
			<div class="container">
				<p class="flow-text just center">
					Having completed about three years in DRISTI, I can honestly say becoming a part of DRISTI was the best thing I have done so far. It has always been a mutually benefitting relationship for me. I teach, and I learn in the process. I learn to be a better person, understand the inequality in society and work towards its removal.
					<br>
					DRISTI has made me grow as a person, not only inculcating qualities like self-confidence, creativity and teaching skills, but also honing my managerial abilities. Being a part of DRISTI and going to the village wasn’t only about teaching the kids their routine subjects but also exposing them towards various opportunities for growth available around them, yet little known. Even though they see hundreds of volunteers come and go, somehow it feels genuine when they hug me and politely ask, “Di, kal aaoge na (You will come back tomorrow, won’t you)?” 
					 <br>
					The best part about the whole experience is the love and respect that the kids give. They are always so excited to see us coming, and without fail greet us with beaming smiles. Working at DRISTI we also faced many challenges, but the constant support from seniors and a motivation to see those dazzling little smiles kept us going. DRISTI lives upto its name and does provide a vision for change. I am grateful to DRISTI for providing me a channel to foster change in the society.
				</p>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>