<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="vision">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
	    <link rel="shortcut icon" href="../../images/logo.png"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-1">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="../donate.html"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
							</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="../donate.html"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#"  data-activates="slide-out" class=" right button-collapse">
						<p class="nav"><i class="material-icons">view_headline</i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<div class="">
				<img src="../../images/volunteers/chandan.jpg" class=" diary responsive-img"/>
			</div>
			<h3 class="center">CHANDAN PANDEY</h3>
			<div class="container">
				<p class="flow-text just center">
					I’m Chandan Pandey, Batch of 2013, pursuing B.E degree in Electronics and Communication Engineering at BIT Mesra, India and a proud DRISTIAN.
					In the sad unfortunate reality of disproportionate distribution of opportunities in our society, often we take the silent support of our families and privileges of living a better life for granted. However, everyone is not as lucky. I have always believed in doing my part in trying to bridge this gap omnipresent around us. DRISTI is an excellent platform providing the means for like- minded individuals burning with the desire to help our society grow equally. 
					<br>
					Working here, I have gained a lot of experience in community event organization and planning. My favourite among everything we do are the night sessions, in which we drop by villages close to our campus, armed happily with projector, amplifiers and laptops to show inspirational videos to people and create awareness among them about opportunities for them from the government. The kids especially love watching the Tom and Jerry and their smiles remind me of my childhood.
					<br>
					Being in DRISTI has helped me grow as a not only as a person but also enabled me to work on my social and soft skills. This experience is hence two fold, as volunteers we not only help the team, but gain from DRISTI too. Currently, I’m in fourth year and grateful for being a part of DRISTI.
				</p>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>