<! DOCTYPE HTML >

<!-- Coded by Yuvraj Jaiswal for DRISTI CHARITABLE TRUST -->
<html xmlns="http://www.w3.org/1999/xhtml" id="vision">
	<head>
		<meta name="google-site-verification" content="8O4h2-mze7uYEZEh1kN5W0XlkLyOe1pVAbFoUtNvEQA" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="DRISTI is an NGO working towards the development of the rural society of India with the means of technology">
		<meta name="keywords" content="education, skill, training, dristi, NGO, BIT, rural, india, mathematics, computers, teacher, learner,BIT , Mesra,  ">
		<meta name="author" content="Yuvraj Jaiswal ">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" media="screen">
	    <link rel="shortcut icon" href="../../images/logo.png"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/stylesheets/typinganimation.css" media="screen">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		<title>DRISTI</title>
		<script type="text/javascript">
		//<![CDATA[
		var owa_baseUrl = 'http://localhost:9999/owa/';
		var owa_cmds = owa_cmds || [];
		owa_cmds.push(['setSiteId', '0a0611b42c0de0ad85d9791f5fe3c9a6']);
		owa_cmds.push(['trackPageView']);
		owa_cmds.push(['trackClicks']);
		owa_cmds.push(['trackDomStream']);

		(function() {
		var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
		owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
		_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
		var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
		}());
		//]]>
		</script>
		<!-- End Open Web Analytics Code -->
	</head>
	<body>
		<header>
			<div class="navbar-fixed">
				<nav class="teal darken-2 z-depth-1">
					<div class="container-fluid top-container">
						<ul class="right section hide-on-med-and-down">
							<li><a href="../../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="../donate.html"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
						</ul>
						<ul class="left">
							<li class=""><img src="/images/logo.png" class="navImg"/>
							</li>
						</ul>
					</div>
					  <ul id="slide-out" class="side-nav">
							<li><a href="../../index.html#home"><p class="navText"><i class="material-icons">home</i> HOME</p></a></li>
							<li><a href="../../index.html#about"><p class="navText"><i class="material-icons">local_library</i> ABOUT US</p></a></li>
							<li><a href="../../index.html#join"><p class="navText"><i class="material-icons">person_add</i> JOIN US</p></a></li>
							<li><a href="../../index.html#contact"><p class="navText"><i class="material-icons">phone</i> CONTACT US</p></a></li>
							<li><a href="../donate.html"><p class="navText"><i class="material-icons">mood</i> DONATE</p></a></li>
					  </ul>
					  <a href="#" data-activates="slide-out" class="button-collapse right">
						<p class="nav"><i class="material-icons">view_headline</i></p></a>
				</nav>
			</div>
		</header>
		<main>
			<div class="">
				<img src="../../images/volunteers/sauravjha.jpg" class=" diary responsive-img"/>
			</div>
			<h3 class="center">SAURAV JHA</h3>
			<div class="container">
				<p class="flow-text just center">
					This is Saurav Jha, a student of B.I.T, MESRA penning down my memorable experiences in DRISTI and how the people I work with are not just an amazing team but like a family to me now. 
					<br>
					The reason for joining DRISTI was guided by my personal interpretation of ‘development’ which I believe should be as much for the self as much for those in a disadvantageous position in our society. This imparts an unparalleled sense of contentment and satisfaction, stemming from working for the underprivileged, unlike anything else I have experienced. 
					<br>
					My first special DRISTI memory is of three little children whom were so excited to learn the basic concepts of addition and subtraction, my very first visit as a tutor to the nearby village. Their anxious eyes and voices were enough to foretell their thirst for knowledge. A lot has followed then after, a bouquet of feelings and emotions are attached with DRISTI for me and it has shaped a positive “revamp” in me. I have become more interactive and am not daunted by communication with new people I encounter in life.
					<br>
					The vision that DRISTI carries with itself is noble & pure and I am confident that it will be a means of upliftment of the country in its new role as an NGO. Hopefully, we will scale even greater heights in the future.
				</p>
			</div>
		</main>
		<Br>
		<br>
		<footer class="teal darken-2 page-footer" id="#foot">
	  		<div class="row">
	  		</div>
	  		<div class="row">
	  			<a href="http://www.dristi.org.in"><h5 class="white-text center">www.dristi.org.in</h5></a>
	  			<h6 class="center black-text">© DRISTI CHARITABLE TRUST</h6>
	  			
	  			<h6 class="center black-text">28 B/7, Jia Sarai, Near IIT Delhi,<br>
	  			 Hauz Khas, New Delhi, India - 110016.
	  		</div>
	  		<br>
	  		<div class="footer-copyright darken-2">
            <div class="container">
<!--             <span class="left">ROSTRA '16, 12th-14th Feb, 2016</span> -->
            <span class="right black-text">Designed By : Yuvraj Jaiswal</span>
            
            </div>
          </div>
	  		
    	</footer>
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/materialize.min.js"></script>
		<script type="text/javascript" src="/javascripts/init.js"></script>
	</body>
</html>